body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.text {
    text-align: center;
}

.main-container {
    padding: 20px;
}

.container-item,
.container-column {
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .text {
        text-align: left;
        max-width: 60%;
    }
}

@media (min-width: 1024px) {
    .main-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container-item, .container-column {
        flex: 0 1 48%; /* Два блока в ряд */
    }
}